.navbar{
  padding-top:3em;
  margin-right:3em;
  margin-left:3em;
  position: sticky;
  z-index: 99;
}
.navbar_company-name{
  font-family: Le Murmure, sans-serif;
  font-size: 45px;
  line-height: 50px;
  text-align: left;
  color:#FFFFFF;
}
.navbar_menu-item{
  display: flex;
  gap: 0.625rem;
}
.navbar_menu-item a:active,
a:hover,
a {
  display: flex;
  color:#FFFFFF;
  text-decoration: none;
}
.navbar_menu-item__catalog{
  gap: 12px;
}
.navbar_menu-item__search {
  margin-left:50px;
  gap: 12px;
}
.navbar_menu-item__info{
  gap:30px;
}
.navbar_menu-item__user-options{
  gap:36px;
  margin-right: 50px;
}
.navbar_menu-item h2{
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.navbar_menu-item div{
  display: flex;
}
.navbar_menu{
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
ul.navbar_menu{
  padding: 0;

  margin:0;
  list-style: none;
}
li.navbar_menu{
  text-decoration: none;
  height: 36px;
}

.today-product{
  margin-bottom:140px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  color:#D9FF5A;
}
.main-content{
  margin-left: 3rem;
  margin-right:3rem;
  width: 1240px;
  height: 1058px;
}
.today-product_background{
  position: absolute;
  display: flex;
  margin-top:5em;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.today-product-container{
  display: flex;
  margin-top:300px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main-content__lamp{
  display: flex;
  left:33em;
  top:9rem;
  transform: translateX(-50%);
  position: absolute;
  justify-content: center;
}
.today-product-description{
  margin-top:240px;
  padding-top: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
}
.today-product-description p{
  width: 310px;
}
.today-product-name{
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}
.today-product-price {
  display: flex;
  width: 274px;
  padding-top: 28px;
  border-top: 1px solid #FFFFFF33;
}
.main-content_today-product-price__ruble-sign{
  font-size: 20px;
  vertical-align: 14px;
  margin-left: 7px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;

}
.today-product-price h4{
  margin: 0;
  font-family: Floreste, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.04em;
  text-align: left;
  color:#D9FF5A
}
.today-product_buy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 357px;
  height: 156px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  gap: 11px;
  outline: none;
  background: transparent;
  border:0;
  cursor: pointer;
  font-family: 'Euclid Circular A', sans-serif;
  color: #FFFFFF;
}
.today-product_buy-button-container{
  display: flex;
  justify-content: end;
}
.today-product-blocks{
  align-items: end;
  gap: 411px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.today-product-group{
  display: flex;
  flex-direction: column;
}
.next-slide-product-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.next-next-slide-product-container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.next-slide-product-container{
  position: absolute;
  top: 0;
  right: 380px;
}
.next-slide-product-background{
  position: absolute;
  top: 0;
  right: 380px;
}
.next-slide-product-container{
  z-index: 1;
  gap: 20px;
}
.today-product-group{
  display: flex;
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  rotate: 5deg;
  justify-content: center;
}
.button {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  top:415px;
  right:142px;
} .button:hover{
  opacity: 85%;
  transition: ease-in-out;
  }
.circle {
  width: 101px;
  position: absolute;
  height: 101px;
  background-color:transparent;
  border:2px solid #D9FF5A;
  border-radius: 50%;
}
.circle2{
  width: 81px;
  left: 15px;
  top:153px;
  position: relative;
  height: 72px;
  background-color:#FA8FEF;
  border-radius: 50%;
  transform:rotate(-23deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.category-cards{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.line{
  border: none;
  margin: 0;
  border-bottom: 2px solid #CBB6FF;
  width: 63px;
}